.certificate{
  padding: 120px 0 96px;
  background: #ffffff;
  overflow: hidden;
  &__block{
    display: flex;
    align-items: center;
    column-gap: 135px;
    position: relative;
  }
  &__info{
    width: calc(33% - 77.5px);
    &-desc{
      @include text(700, 16px, 150%, $black);
      margin-bottom: 10px;

    }
    &-title{
      @include text(900, 37px, 130%, $black);
    }
    &-text{
      @include text(400, 16px, 150%,  #424551);
      margin: 48px 0 25px;
    }
    &-logo{
      display: flex;
      justify-content: space-between;
      column-gap: 13px;


    }
  }
  &__images{
    width: calc(77% - 77.5px);
    position: absolute;
    left: 35%;
    top: 0;
  }
}