.header__courses {
  background: #fff;
}

.studying {
  padding: 80px 0 120px;
  background: #FFFFFF;

  &__desc {
    @include text(700, 16px, 150%, $black);
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    @include text(900, 46px, 130%, $black);
    margin: 8px 0 60px;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    column-gap: 10px;

    &-items {
      @include text(700, 16px, 160%, #9A9CA5);
      margin-bottom: 70px;
      padding: 10px 20px;
      border: 1px solid #FFFFFF;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transition: .2s;
        border: 1px solid $oren;
        border-radius: 4px;
        color: $oren;
        padding: 10px 20px;
      }
    }

    &-items sup {
      font-weight: 900;
      font-size: 10px;
      line-height: 150%;
    }
  }

  &__input {
    padding: 8px 0 8px 16px;
    border: 1px solid #D7DADD;
    width: 315px;
    border-radius: 4px;
    @include text(400, 16px, 160%, #9A9CA5);
  }

  &__block {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;

  }

  &__card {
    width: calc(33.33333% - 20px);
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;

    &:hover {
      border: 1px solid #E5E8ED;
      border-radius: 4px;
      box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      transition: .2s;
      transform: scale(1.02);
    }

    &-box {
      padding: 24px;

      &-subtitle {
        margin: 20px 0 20px;
      }
    }

  }
  &__load{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    column-gap: 17px;
    cursor: pointer;
    &-text{
      @include text(700, 16px, 160%, $black);
    }
  }
}
.aside{
  display: none;
}


@media (max-width: 1200px) {
  .studying__input {
    width: 260px;
  }
  .studying__list-items {
    font-size: 13px;
  }
  .studying__title {
    font-size: 42px;
    margin: 8px 0 47px;
  }
  .studying {
    padding: 80px 0 90px;
    background: #FFFFFF;
  }
  
}
@media (max-width: 1024px) {
  .studying__input {
    width: 226px;
  }
  
}
@media (max-width: 993px) {
}