.header {
  background: #FDDBD2;
  padding: 20px 0;
  position: relative;

  .burger {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    column-gap: 40px;
    align-items: center;

    &-item {
      @include text(700, 16px, 160%, #424551);
      align-items: center;
      position: relative;
      cursor: pointer;


      &::before {
        content: "";
        width: 0;
        height: 2px;
        background: $primary;
        position: absolute;
        bottom: -3px;
        left: -15px;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        z-index: 11;
      }


      &:hover::before {
        width: calc(100% + 30px);

      }
    }
  }


  &__block {
    display: flex;
    align-items: center;
    column-gap: 37px;

    &-row {
      display: flex;
      align-items: center;
      cursor: pointer;

      &-desc {
        @include text(700, 16px, 160%, #424551);

      }
    }
  }

  &__btn {
    padding: 10px 40px;
    @include text(700, 16px, 160%, #fff);
    background: $primary;
    border-radius: 4px;
    border: 1px solid $oren;
    cursor: pointer;
    transition: .7s;

    &:hover {
      background: #ffffff;
      border: 1px solid $oren;
      color: $oren;
      transition: .7s;
    }
  }


}
.header__active{
  position: relative;
  &::before {
    content: "";
    width: calc(100% + 30px);
    height: 3px;
    background: $primary;
    position: absolute;
    bottom: -7px;
    left: -15px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 11;
  }
}


@media (max-width: 1024px) {

}

@media (max-width: 876px) {
  .header {
    &__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      position: fixed;
      width: 100%;
      background: $peach;
      z-index: 10;
      top: 0;
      left: 0;
      transition: .5s;
      height: 0;
      .header__list-item,.header__link{
        font-size: 0;
        transition: .7s;
      }

      &_active{
        height: 100%;
        transition: .5s;
        .header__link,.header__list-item{
          font-size: 25px;
        }
      }
    }
    .burger {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;

      &__line {
        width: 40px;
        height: 5px;
        border-radius: 1.5px;
        background: $primary;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        z-index: 11;

        &::before {
          content: ' ';
          position: absolute;
          width: 40px;
          height: 5px;
          border-radius: 1.5px;
          background: $primary;
          left: 0;
          top: -10px;
          transition: .3s;
        }
        &::after {
          content: ' ';
          position: absolute;
          width: 40px;
          height: 5px;
          border-radius: 1.5px;
          background: $primary;
          left: 0;
          top: 10px;
          transition: .3s;
        }
      }
      &_active{
        .burger__line{
          background: transparent;
          &::before{
            top: -10px;
            transform: rotate(45deg);
            transition: .3s;
          }
          &::after{
            top: -10px;
            transform: rotate(-45deg);
            transition: .3s;
          }
        }
      }
    }

  }

  .header__nav {
    justify-content: normal;
    column-gap: 30%;
    padding-right: 60px;
  }
  .header__btn {
    padding: 10px 20px;
    font-size: 12px;
  }

}


@media (max-width: 768px) {
  .header__block-row-desc {
    font-size: 11px;
  }
}

@media (max-width: 676px) {
  .header__block {
    display: none;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1024px) {

}