.header {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  opacity: 0.2;
  padding: 20px 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}