.home{
  padding: 110px 0 80px;
  background: url("../image/background.jpg") center/cover, no-repeat;
  &__block{
    display: flex;
    justify-content: space-between
  }
  &__card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &-icons{
      display: flex;
      align-items: center;
      &-desc{
        @include text(700, 14px, 150%, $black);

      }
    }
    &-title{
      @include text(900, 64px,130%, $black);
      margin: 40px 0 20px;


    }
    &-btns{
      display: flex;
      column-gap: 24px;

    }
    &-btn{
      padding: 10px 40px;
      @include text(700, 16px, 150%, #FF3F3A);
      background: #FDDBD2;
      border-radius: 4px;
      border: 1px solid #FF3F3A;
      transition: .2s;
      cursor: pointer;
      &:hover{
        background: $primary;
        transition: .2s;
        color: #ffffff;
      }
    }
  }
  &__list{
    display: flex;
    column-gap: 68px;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    &-item{
      @include text(900, 20px,130%, $black);

      position: relative;

    }
  }
}



@media (max-width: 1200px) {
  .home {
    padding: 48px 0 80px;
  }
  .home__list {
    margin-top: 87px;
  }
}
@media (max-width: 1024px) {
  .home {
    padding: 70px 0 80px;
  }

  .home__card-title {
    font-size: 56px;

  }
  .home__list{
    margin-top: 100px;
  }

}
@media (max-width: 992px) {
  .home {
    padding: 70px 0 80px;
  }
  .home__card-title {
    font-size: 48px;
    line-height: 115%;
  }
  .home__card-btn {
    padding: 3px 34px;
    font-weight: 700;
    font-size: 13px;
    line-height: 131%;
  }
  .home__list {
    margin-top: 78px;
  }
  .home__list-item {
    font-size: 14px;
  }
}
@media (max-width: 876px) {
  .home__card-title {
    font-size: 41px;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 50px 0 50px;
  }
  .home__card-title{
    font-size: 37px;
    line-height: 100%;

  }
  .home__list {
    margin-top: 40px;
  }
  .home__list-item {
    font-size: 10px;
  }
}
@media (max-width: 676px) {
  .home{
    padding: 30px 0 50px;
  }

  .home__card-title{
    font-size: 25px;
    margin: 20px 0 20px;

  }
  .home__list{
    column-gap: 30px;
  }
}
@media (max-width: 576px) {
  .home{
    padding-bottom: 30px;
  }
  .home__card-icons{
    width: 150px;
    height: 50px;
  }

}
@media (max-width: 425px) {
  .home__list {
    margin-top: 25px;
    column-gap: 21px;
    &__item{

    }
  }
}
@media (max-width: 375px) {
  .home__card-title{
    font-size: 25px;
    margin: 20px 0 20px;
    text-align: center;

  }
  .home__block-image{
    display: none;
  }
  .home__card-btns{
    justify-content: space-between;
    column-gap: 90px;
  }
  .home__card-btn {
    padding: 4px 10px;
  }
  .home__list{
    column-gap: 15px;
  }
  .home__list-item {
    font-size: 8px;
    line-height: 100%;
  }
  }
