.meet {
  padding: 166px 0 180px;
  background: #F4F5F7;

  &__desc {
    @include text(700, 16px, 150%, $black);

  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 80px;
    position: relative;
  }

  &__title {
    @include text(900, 46px, 130%, $black);
  }

  &__btns {
    display: flex;
    column-gap: 5px;

    &-btn {
      cursor: pointer;
      padding-top: 13px;
      text-align: center;
      border: 1px solid #F4F5F7;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transition: .2s;
      z-index: 5;

      &:hover {
        background: $oren;
        transition: .2s;
        border: 1px solid $oren;
      }

      &:hover path {
        fill: white;
      }


    }
  }
  &__block{
    display: flex;
    column-gap: 30px;
    position: relative;
    z-index: 5;

  }
  &__card{
    width: 100%;
    text-align: center;
    &-desc{
      @include text(400, 16px, 160%, #787A80);
    }
    &-image{
      padding: 20px 20px 0 20px;
      background: #FFCF2D;
      border-radius: 4px;
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      &:hover {
        .meet__card-social {
          display: flex;
          column-gap: 12px;
        }
      }
      &:hover::before {
        background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
      }
    }
    &-social {
      display: none;
      align-items: center;
      position: absolute;
      bottom: 22px;
      right: 22px;
    }
    &-link {
      position: relative;
      z-index: 4;
      &:hover {
        svg path {
          fill: white;
        }
      }
    }
    &-title{
      @include text(700, 20px, 150%, #424551);
      margin: 16px 0 5px;
    }
  }

}


.meet .swiper {
  width: 100%;
}

.meet .swiper-button-next::after{
  display: none;
}
.meet .swiper-button-prev::after{
  display: none;
}