@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  overflow: hidden;
}

img {
  width: 100%;
}

.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.container {
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  background: #E5E5E5;
  position: relative;
}

.header {
  background: #FDDBD2;
  padding: 20px 0;
  position: relative;
}
.header .burger {
  display: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.header__list-item::before {
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  position: absolute;
  bottom: -3px;
  left: -15px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 11;
}
.header__list-item:hover::before {
  width: calc(100% + 30px);
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
.header__block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__block-row-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.header__btn {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: 1px solid #FF3F3A;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header__btn:hover {
  background: #ffffff;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 876px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    position: fixed;
    width: 100%;
    background: #FDDBD2;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 0;
  }
  .header__list .header__list-item, .header__list .header__link {
    font-size: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .header__list_active {
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__list_active .header__link, .header__list_active .header__list-item {
    font-size: 25px;
  }
  .header .burger {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
  }
  .header .burger__line {
    width: 40px;
    height: 5px;
    border-radius: 1.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    z-index: 11;
  }
  .header .burger__line::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 1.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    left: 0;
    top: -10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .burger__line::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 1.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    left: 0;
    top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .burger_active .burger__line {
    background: transparent;
  }
  .header .burger_active .burger__line::before {
    top: -10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .burger_active .burger__line::after {
    top: -10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__nav {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-column-gap: 30%;
       -moz-column-gap: 30%;
            column-gap: 30%;
    padding-right: 60px;
  }

  .header__btn {
    padding: 10px 20px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header__block-row-desc {
    font-size: 11px;
  }
}
@media (max-width: 676px) {
  .header__block {
    display: none;
  }
}
.home {
  padding: 110px 0 80px;
  background: url("../image/background.jpg") center/cover, no-repeat;
}
.home__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.home__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__card-icons-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
}
.home__card-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1E212C;
  margin: 40px 0 20px;
}
.home__card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.home__card-btn {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FF3F3A;
  background: #FDDBD2;
  border-radius: 4px;
  border: 1px solid #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.home__card-btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}
.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 68px;
     -moz-column-gap: 68px;
          column-gap: 68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}
.home__list-item {
  font-weight: 900;
  font-size: 20px;
  line-height: 130%;
  color: #1E212C;
  position: relative;
}

@media (max-width: 1200px) {
  .home {
    padding: 48px 0 80px;
  }

  .home__list {
    margin-top: 87px;
  }
}
@media (max-width: 1024px) {
  .home {
    padding: 70px 0 80px;
  }

  .home__card-title {
    font-size: 56px;
  }

  .home__list {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  .home {
    padding: 70px 0 80px;
  }

  .home__card-title {
    font-size: 48px;
    line-height: 115%;
  }

  .home__card-btn {
    padding: 3px 34px;
    font-weight: 700;
    font-size: 13px;
    line-height: 131%;
  }

  .home__list {
    margin-top: 78px;
  }

  .home__list-item {
    font-size: 14px;
  }
}
@media (max-width: 876px) {
  .home__card-title {
    font-size: 41px;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 50px 0 50px;
  }

  .home__card-title {
    font-size: 37px;
    line-height: 100%;
  }

  .home__list {
    margin-top: 40px;
  }

  .home__list-item {
    font-size: 10px;
  }
}
@media (max-width: 676px) {
  .home {
    padding: 30px 0 50px;
  }

  .home__card-title {
    font-size: 25px;
    margin: 20px 0 20px;
  }

  .home__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 576px) {
  .home {
    padding-bottom: 30px;
  }

  .home__card-icons {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 425px) {
  .home__list {
    margin-top: 25px;
    -webkit-column-gap: 21px;
       -moz-column-gap: 21px;
            column-gap: 21px;
  }
}
@media (max-width: 375px) {
  .home__card-title {
    font-size: 25px;
    margin: 20px 0 20px;
    text-align: center;
  }

  .home__block-image {
    display: none;
  }

  .home__card-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }

  .home__card-btn {
    padding: 4px 10px;
  }

  .home__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .home__list-item {
    font-size: 8px;
    line-height: 100%;
  }
}
.question {
  padding: 180px 0;
  background: #ffffff;
}
.question__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.question__image {
  width: calc(65% - 77.5px);
}
.question__block {
  width: calc(35% - 77.5px);
}
.question__block-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
}
.question__block-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 16px 0 40px;
}
.question__block-lin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-top: 12px;
}
.question__block-lin-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #424551;
}
.question__block-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: white;
  background: #FF3F3A;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.question__block-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .question {
    padding: 120px 0;
  }

  .question__content {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }

  .question__image {
    width: calc(70% - 50px);
  }

  .question__block-title {
    font-size: 24px;
    margin: 10px 0 16px;
  }

  .question__block-lin {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    margin-top: 2px;
  }

  .question__block-lin-desc {
    font-size: 15px;
    line-height: 145%;
  }
}
@media (max-width: 992px) {
  .question__block-desc {
    font-size: 11px;
  }

  .question__block-lin-desc {
    font-size: 13px;
    line-height: 139%;
  }

  .question__block-btn {
    margin-top: 27px;
    font-size: 10px;
  }
}
@media (max-width: 876px) {
  .question {
    padding: 90px 0;
  }

  .question__content {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .question__image {
    width: calc(75% - 25px);
  }

  .question__block-title {
    font-size: 20px;
    margin: 10px 0 10px;
  }

  .question__block-lin-desc {
    line-height: 129%;
  }

  .question__block-btn {
    margin-top: 10px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .question__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .question__image {
    width: 80%;
  }

  .question__block {
    width: 80%;
  }
  .question__block-lin {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 11px;
    margin-top: 12px;
  }
}
@media (max-width: 425px) {
  .question__block-desc {
    font-size: 8px;
  }

  .question__block-title {
    font-size: 14px;
    margin: 6px 0 6px;
  }

  .question__block-lin-desc {
    line-height: 95%;
    font-size: 12px;
  }

  .question__block-btn {
    padding: 8px 20px;
  }
}
@media (max-width: 375px) {
  .question__block-lin {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    margin-top: 7px;
  }

  .question__block-lin-desc {
    font-size: 11px;
  }

  .question__block-btn {
    padding: 6px 15px;
  }
}
.employees {
  background: #ffffff;
  padding-bottom: 180px;
}
.employees__desc {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
}
.employees__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0 60px;
}
.employees__top-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.employees__top-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FF3F3A;
  padding: 10px 40px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  background: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.employees__top-btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}
.employees__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}
.employees__card {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.employees__card:hover {
  -webkit-box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.employees__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.employees__card-box-btn {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: white;
  background: #03CEA4;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.employees__card-box-btn:hover {
  border: 1px solid #787A80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.employees__card-box-subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.employees__card-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.employees__card-box-text-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF3F3A;
}
.employees__card-box-text-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}

.employees__hr-recruting {
  background: #F89828;
  padding: 2px 8px;
}

.employees__management {
  background: #5A87FC;
}

.employees__design {
  background: #F52F6E;
  margin-right: 80px;
  padding: 2px 8px;
}

@media (max-width: 1200px) {
  .employees__card-box {
    row-gap: 4px;
  }

  .employees__card-box-text-desc {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .employees {
    background: #ffffff;
    padding-bottom: 60px;
  }

  .employees__card {
    width: calc(32% - 11px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .employees__card-box-subtitle {
    font-size: 16px;
    line-height: 135%;
  }

  .employees__card-box-text-span {
    font-size: 16px;
  }

  .employees__card-box {
    padding: 25px;
  }

  .employees__top-title {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  .employees__top {
    margin: 8px 0 30px;
  }

  .employees__top-title {
    font-size: 27px;
  }

  .employees__top-btn {
    font-size: 11px;
    padding: 5px 15px;
  }

  .employees__card {
    width: calc(50% - 12px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .employees__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 17px;
  }

  .employees__card-box-subtitle {
    font-size: 14px;
    line-height: 122%;
  }

  .employees__card-box-btn {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .employees__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .employees__card {
    width: 100%;
  }

  .employees__card-img {
    height: auto;
  }
}
@media (max-width: 375px) {
  .employees__top-title {
    font-size: 19px;
  }

  .employees__desc {
    font-size: 11px;
  }
}
.ourBenefits {
  padding-bottom: 140px;
  background: #ffffff;
}
.ourBenefits__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
  text-align: center;
}
.ourBenefits__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  text-align: center;
}
.ourBenefits__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourBenefits__btns-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  padding: 10px 70px 10px 70px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 60px 0 80px;
}
.ourBenefits__btns-btn:hover {
  fill: #FF3F3A;
  border: 1px solid #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #FF3F3A;
}
.ourBenefits__btns-btn:hover span path {
  fill: #FF3F3A;
}
.ourBenefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.ourBenefits__text {
  width: calc(47% - 77.5px);
}
.ourBenefits__text-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 24px;
}
.ourBenefits__text-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.ourBenefits__image {
  width: calc(63% - 77.5px);
}

@media (max-width: 1200px) {
  .ourBenefits {
    padding-bottom: 80px;
  }

  .ourBenefits__desc {
    font-size: 13px;
  }

  .ourBenefits__title {
    font-size: 40px;
  }

  .ourBenefits__btns-btn {
    font-size: 10px;
    padding: 10px 30px 10px 30px;
    margin: 39px 0 54px;
  }
}
@media (max-width: 1024px) {
  .ourBenefits__text-title {
    font-size: 25px;
    line-height: 109%;
  }

  .ourBenefits__text-desc {
    font-size: 20px;
    line-height: 143%;
  }
}
@media (max-width: 992px) {
  .ourBenefits__text-title {
    font-size: 22px;
  }

  .ourBenefits__text-desc {
    font-size: 14px;
    line-height: 143%;
  }
}
@media (max-width: 768px) {
  .ourBenefits__text-desc {
    font-size: 12px;
    line-height: 143%;
  }

  .ourBenefits__text-title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .ourBenefits__title {
    font-size: 33px;
  }

  .ourBenefits__btns-btn {
    font-size: 9px;
    padding: 7px 10px 7px 10px;
    margin: 24px 0 35px;
  }
}
@media (max-width: 676px) {
  .ourBenefits__block {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .ourBenefits__image {
    width: 100%;
  }

  .ourBenefits__text {
    width: 100%;
  }

  .ourBenefits {
    padding-bottom: 50px;
  }

  .ourBenefits__title {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .ourBenefits__title {
    font-size: 24px;
  }

  .ourBenefits__btns-btn {
    font-size: 9px;
    padding: 7px 5px;
    margin: 12px 0 18px;
  }
}
.ourEvents {
  background: #FDDBD2;
  padding: 80px 0;
}
.ourEvents__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
  text-align: center;
}
.ourEvents__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 160%;
  color: #1E212C;
  text-align: center;
  margin: 10px 0 60px;
}
.ourEvents__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.ourEvents__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 40px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourEvents__card:hover {
  border: 1px solid #FDDBD2;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.ourEvents__card-span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  color: #FF3F3A;
}
.ourEvents__card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourEvents__card-months-mon {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.ourEvents__card-months-time {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.ourEvents__card-btn {
  padding: 10px 32px;
  background: #ffffff;
  border: 1px solid #FF3F3A;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #FF3F3A;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourEvents__card-btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourEvents__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-top: 60px;
}
.ourEvents__question-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #1E212C;
}
.ourEvents__question-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  border: 1px solid #FF3F3A;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourEvents__question-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 992px) {
  .ourEvents__card-span {
    font-size: 36px;
    margin: auto;
  }

  .ourEvents__card-months-time {
    font-size: 12px;
  }

  .ourEvents__title {
    font-size: 39px;
    margin: 10px 0 36px;
  }

  .ourEvents__card-months-mon {
    font-size: 17px;
  }

  .ourEvents__card-btn {
    padding: 10px 25px;
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .ourEvents {
    background: #FDDBD2;
    padding: 60px 0;
  }

  .ourEvents__card-block {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .ourEvents__card-months-mon {
    font-size: 15px;
  }

  .ourEvents__title {
    font-size: 33px;
    margin: 7px 0 29px;
  }

  .ourEvents__desc {
    font-size: 12px;
  }

  .ourEvents__question {
    margin-top: 35px;
  }
}
@media (max-width: 676px) {
  .ourEvents__title {
    font-size: 25px;
    margin: 4px 0 15px;
  }

  .ourEvents__card {
    padding: 20px;
  }

  .ourEvents__card-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 10px;
    row-gap: 10px;
  }

  .ourEvents__card-months-mon {
    font-size: 13px;
  }

  .ourEvents__question-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
  }

  .ourEvents__question-btn {
    font-size: 11px;
    padding: 10px 30px;
  }
}
@media (max-width: 425px) {
  .ourEvents__question {
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
}
@media (max-width: 375px) {
  .ourEvents {
    padding: 40px 0;
  }

  .ourEvents__question-btn {
    padding: 10px 10px;
  }
}
.certificate {
  padding: 120px 0 96px;
  background: #ffffff;
}
.certificate__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
  position: relative;
}
.certificate__info {
  width: calc(33% - 77.5px);
}
.certificate__info-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 10px;
}
.certificate__info-title {
  font-weight: 900;
  font-size: 37px;
  line-height: 130%;
  color: #1E212C;
}
.certificate__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #424551;
  margin: 48px 0 25px;
}
.certificate__info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}
.certificate__images {
  width: calc(77% - 77.5px);
  position: absolute;
  left: 35%;
  top: 0;
}

@media (max-width: 1200px) {
  .certificate__info {
    width: calc(39% - 77.5px);
  }
}
@media (max-width: 1024px) {
  .certificate__info-title {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .certificate {
    padding: 80px 0 70px;
  }

  .certificate__info-title {
    font-size: 30px;
  }

  .certificate__info-text {
    margin: 15px 0 19px;
  }
}
@media (max-width: 768px) {
  .certificate__block {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .certificate__images {
    width: 100%;
    position: static;
  }

  .certificate__info {
    width: 100%;
    text-align: center;
  }

  .certificate__info-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 425px) {
  .certificate {
    padding: 60px 0 40px;
  }

  .certificate__info-title {
    font-size: 26px;
  }

  .certificate__info-text {
    font-size: 13px;
  }
}
.meet {
  padding: 166px 0 180px;
  background: #F4F5F7;
}
.meet__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
}
.meet__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0 80px;
  position: relative;
}
.meet__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.meet__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.meet__btns-btn {
  cursor: pointer;
  padding-top: 13px;
  text-align: center;
  border: 1px solid #F4F5F7;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 5;
}
.meet__btns-btn:hover {
  background: #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #FF3F3A;
}
.meet__btns-btn:hover path {
  fill: white;
}
.meet__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  position: relative;
  z-index: 5;
}
.meet__card {
  width: 100%;
  text-align: center;
}
.meet__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.meet__card-image {
  padding: 20px 20px 0 20px;
  background: #FFCF2D;
  border-radius: 4px;
  position: relative;
}
.meet__card-image::before {
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.meet__card-image:hover .meet__card-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.meet__card-image:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.meet__card-social {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 22px;
  right: 22px;
}
.meet__card-link {
  position: relative;
  z-index: 4;
}
.meet__card-link:hover svg path {
  fill: white;
}
.meet__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin: 16px 0 5px;
}

.meet .swiper {
  width: 100%;
}

.meet .swiper-button-next::after {
  display: none;
}

.meet .swiper-button-prev::after {
  display: none;
}

@media (max-width: 1200px) {
  .meet {
    padding: 120px 0 120px;
  }
}
@media (max-width: 1024px) {
  .meet__top {
    margin: 8px 0 50px;
  }

  .meet__title {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .meet__card-title {
    font-size: 14px;
  }

  .meet__card-desc {
    font-size: 11px;
  }

  .meet {
    padding: 95px 0 95px;
  }

  .meet__title {
    font-size: 37px;
  }
}
@media (max-width: 676px) {
  .meet__card-title {
    font-size: 24px;
  }

  .meet__card-desc {
    font-size: 13px;
  }
}
@media (max-width: 425px) {
  .meet {
    padding: 50px 0 50px;
  }

  .meet__desc {
    font-size: 14px;
  }

  .meet__top {
    margin: 8px 0 24px;
  }

  .meet__title {
    font-size: 29px;
  }
}
.swiper {
  width: calc(80% - 10px);
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonials {
  padding-bottom: 135px;
  background: #F4F5F7;
}
.testimonials__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-align: center;
}
.testimonials__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 8px 0 60px;
  text-align: center;
}
.testimonials__comments-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-left: 30px;
}
.testimonials__block {
  position: relative;
  width: calc(80% - 10px);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 105px;
  margin: 0 auto;
}
.testimonials__avat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-top: 24px;
  width: 245px;
}
.testimonials__avat-img {
  width: 45px;
}
.testimonials__avat-sutitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
}
.testimonials__avat-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.testimonials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.testimonials__btns {
  position: relative;
  z-index: 6;
}
.testimonials__btns-prev {
  position: absolute;
  bottom: 40%;
  right: 8px;
}
.testimonials__btns-next {
  position: absolute;
  bottom: 40%;
  left: 8px;
}

@media (max-width: 1200px) {
  .meet {
    padding: 80px 0 80px;
  }

  .testimonials__title {
    font-size: 39px;
    margin: 8px 0 45px;
  }

  .testimonials__block {
    padding: 25px 31px;
  }

  .testimonials__bloc-span svg {
    width: 20px;
  }
}
@media (max-width: 992px) {
  .testimonials__comments-desc {
    font-size: 15px;
    margin-left: 25px;
  }

  .testimonials__title {
    font-size: 35px;
    margin: 8px 0 30px;
  }
}
@media (max-width: 768px) {
  .testimonials__title {
    font-size: 27px;
    margin: 8px 0 21px;
  }

  .testimonials__desc {
    font-size: 12px;
  }

  .testimonials__comments-desc {
    margin-left: 15px;
  }

  .testimonials__avat {
    margin-top: 5px;
  }

  .testimonials__btns-prev {
    position: absolute;
    bottom: 40%;
    right: 0;
  }

  .testimonials__btns-next {
    position: absolute;
    bottom: 40%;
    left: 0;
  }
}
@media (max-width: 676px) {
  .testimonials {
    padding-bottom: 70px;
  }

  .meet {
    padding: 60px 0 60px;
  }

  .meet__btns {
    display: none;
  }

  .testimonials__block {
    width: 100%;
  }

  .testimonials__comments-desc {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .testimonials__bloc-span svg {
    width: 12px;
  }

  .testimonials__comments-desc {
    font-size: 11px;
  }

  .testimonials__title {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .testimonials__block {
    padding: 20px 2px;
  }

  .testimonials__comments-desc {
    margin-left: 6px;
  }

  .testimonials__avat-desc {
    font-size: 10px;
  }

  .testimonials__bloc-span svg {
    width: 8px;
  }
}
.ourBlog {
  padding: 120px 0 180px;
  background: #ffffff;
}
.ourBlog__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
}
.ourBlog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0 60px;
}
.ourBlog__top-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 100%;
  color: #1E212C;
}
.ourBlog__top-btn {
  background: #FF3F3A;
  padding: 0 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourBlog__top-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ourBlog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ourBlog__card {
  width: calc(30% - 20px);
}
.ourBlog__card-image {
  position: relative;
}
.ourBlog__card-image-small {
  width: 85px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.ourBlog__card-months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourBlog__card-months-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  text-align: center;
}
.ourBlog__card-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 11px 0 8px;
}
.ourBlog__card-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  margin: 8px 0 16px;
}
.ourBlog__card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ourBlog__card-links-a {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
  margin-right: 11px;
  position: relative;
}
.ourBlog__card-links-a::before {
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  position: absolute;
  bottom: -2px;
  left: -15px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.ourBlog__card-links-a:hover::before {
  width: calc(100% + 30px);
}

@media (max-width: 1200px) {
  .ourBlog__card-months-desc {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .ourBlog {
    padding: 90px 0 120px;
  }

  .ourBlog__top {
    margin: 8px 0 40px;
  }
}
@media (max-width: 992px) {
  .ourBlog__top-title {
    font-size: 36px;
  }

  .ourBlog__desc {
    font-size: 13px;
  }

  .ourBlog__card-subtitle {
    font-size: 15px;
  }

  .ourBlog__card-info {
    font-size: 12px;
    margin: 3px 0 8px;
  }
}
@media (max-width: 768px) {
  .ourBlog__card {
    width: calc(50% - 20px);
  }

  .ourBlog__card-info {
    font-size: 14px;
    margin: 3px 0 8px;
  }

  .ourBlog__card-subtitle {
    font-size: 17px;
  }

  .ourBlog__block {
    row-gap: 30px;
  }
}
@media (max-width: 676px) {
  .ourBlog {
    padding: 60px 0 70px;
  }

  .ourBlog__card {
    width: 100%;
  }

  .ourBlog__card-months-desc {
    font-size: 12px;
  }

  .ourBlog__top-btn {
    padding: 0 20px;
  }
}
@media (max-width: 425px) {
  .ourBlog__top-title {
    font-size: 31px;
  }
}
@media (max-width: 375px) {
  .ourBlog__top-btn {
    font-size: 12px;
  }

  .ourBlog__top-title {
    font-size: 29px;
  }

  .ourBlog__top {
    margin: 8px 0 30px;
  }
}
.subscribe {
  background: #FDDBD2;
  padding: 120px 0 180px;
  text-align: center;
  position: relative;
}
.subscribe__img-befor {
  position: absolute;
  width: 20%;
  left: 0;
  bottom: -3px;
}
.subscribe__img-after {
  position: absolute;
  width: 20%;
  right: 0;
  bottom: -3px;
}
.subscribe__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
}
.subscribe__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 8px 0 60px;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe__input {
  width: 422px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  padding-left: 16px;
}
.subscribe__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  padding: 12px 40px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.subscribe__btn:hover {
  background: #FFFFFF;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .subscribe__title {
    font-size: 37px;
    margin: 8px 0 40px;
  }
}
@media (max-width: 992px) {
  .subscribe {
    padding: 90px 0 149px;
  }

  .subscribe__title {
    font-size: 31px;
  }
}
@media (max-width: 676px) {
  .subscribe__title {
    font-size: 24px;
    margin: 8px 0 27px;
  }

  .subscribe__form {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .subscribe__btn {
    font-weight: 700;
    font-size: 11px;
  }

  .subscribe__input {
    height: 44px;
  }
}
@media (max-width: 425px) {
  .subscribe {
    padding: 60px 0 110px;
  }

  .subscribe__title {
    font-size: 20px;
    margin: 8px 0 23px;
  }

  .subscribe__desc {
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .subscribe__btn {
    padding: 8px 31px;
  }
}
.footer {
  padding-top: 80px;
  background: #1E212C;
  position: relative;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 60px;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 25px 0 41px;
  opacity: 0.6;
  letter-spacing: 0.8px;
}
.footer__logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.footer__logo-cont-item:hover svg path {
  fill: #FFFFFF;
}
.footer__menu {
  width: 90px;
}
.footer__menu-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.footer__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.footer__menu-link-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: white;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__menu-link-info:hover {
  opacity: revert;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contacts-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: white;
  opacity: 0.6;
}
.footer__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__submit-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__submit-desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: white;
}
.footer__submit-block {
  position: relative;
}
.footer__submit-block::before {
  content: "→";
  position: absolute;
  color: #FFFFFF;
  width: 12px;
  height: 8px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.footer__submit-input {
  margin: 24px 0 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: white;
  padding: 9px 0 9px 12px;
  width: 286px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
}
.footer__bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background: #262a38;
}
.footer__bottom-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: white;
  z-index: 2;
}
.footer__bottom-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: white;
  z-index: 2;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .footer__submit-input {
    width: 204px;
  }
}
@media (max-width: 1024px) {
  .footer__submit-input {
    width: 188px;
  }
}
@media (max-width: 992px) {
  .footer__menu {
    display: none;
  }

  .footer__contacts {
    display: none;
  }

  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    margin-bottom: 30px;
  }

  .footer__submit-input {
    width: 282px;
  }
}
@media (max-width: 768px) {
  .footer__logo-desc {
    font-size: 10px;
  }
}
@media (max-width: 676px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }

  .footer__logo-title {
    text-align: center;
  }

  .footer__logo-desc {
    margin: 12px 0 9px;
  }

  .footer__bottom-info {
    font-size: 10px;
  }
}
.header__courses {
  background: #fff;
}

.studying {
  padding: 80px 0 120px;
  background: #FFFFFF;
}
.studying__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1E212C;
  text-transform: uppercase;
  text-align: center;
}
.studying__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 8px 0 60px;
  text-align: center;
}
.studying__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.studying__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.studying__list-items {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  margin-bottom: 70px;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.studying__list-items:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;
  padding: 10px 20px;
}
.studying__list-items sup {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
}
.studying__input {
  padding: 8px 0 8px 16px;
  border: 1px solid #D7DADD;
  width: 315px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.studying__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.studying__card {
  width: calc(33.33333% - 20px);
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.studying__card:hover {
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  -webkit-box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.studying__card-box {
  padding: 24px;
}
.studying__card-box-subtitle {
  margin: 20px 0 20px;
}
.studying__load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  cursor: pointer;
}
.studying__load-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}